
@{
    ViewData["Title"] = "Index";
}

<h1>Contact us!</h1>
<p>Our offices are always open for bussiness. Please, you don't need to hesitate. CALL US NOW!</p>
<div class="mapouter"><div class="gmap_canvas"><iframe width="800" height="700" id="gmap_canvas" src="https://maps.google.com/maps?q=insula%20serpilor&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div>
<style>
    .mapouter {
        position: relative;
        text-align: right;
        height: 700px;
        width: 800px;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 700px;
        width: 800px;
    }
</style></div>