
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Membership";
}

<h2>Your registry data</h2>
<span>@ViewBag.message</span>

<form method="post" action="/Home/Membership">
    <div class="form-group">
        <label for="exampleInputName">Name </label>
        <input type="text" class="form-control" name="name" aria-describedby="NameHelp" placeholder="Enter Name">
        <small id="NameHelp" class="form-text text-muted">We'll never share your confidential data with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="exampleInputName">Emai </label>
        <input type="text" class="form-control" name="email" aria-describedby="EmailHelp" placeholder="Enter Email">
        <small id="IDHelp" class="form-text text-muted">We'll never share your confidential data with anyone else.</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
