<!DOCTYPE html>
<html>
<body text="black">

    <h1>Frequently Asked Questions</h1>
    <h4>
        What if product is out of stock?

    </h4>

    <p>
        Before we send you the first bill for item cost & service fee, we will first confirm with the seller if items are available. Most of the time, stock status in seller’s page is inaccurate or not updated. Once your payment is confirmed, we then buy the item.
        However, due to time difference, from confirming stock availability to receipt of your payment, item may no longer be available, especially involving fast moving items. AliExpress Agent will inform you of the matter & will seek your advice whether we refund you for your payment or use the amount as credit for future purchase
    </p>
    <h4>
        Can i cancel my order?
    </h4>
    <p>
        Before we send you the first bill for item cost & service fee, we will first confirm with the seller if items are available. Most of the time, stock status in seller’s page is inaccurate or not updated. Once your payment is confirmed, we then buy the item.
        However, due to time difference, from confirming stock availability to receipt of your payment, item may no longer be available, especially involving fast moving items. AliExpress Agent will inform you of the matter & will seek your advice whether we refund you for your payment or use the amount as credit for future purchase
    </p>
    <h4>
        Can i get compensation for missing items, damaged and lost parcel?
    </h4>
    <p>
        Generally speaking, yes. We can help you obtain compensation for missing and damaged items which happened during shipping transit time, provided that you have opened and checked the parcel in front of the postman, have him/her signed your documents with remarks, and you have taken photos of it as proof.

        However, please be informed that there will be no compensation if parcel is shipped via economy shipping lines or slow post mail service like ePacket, Holland Post, and China Post.
    </p>

</body>
</html>

